@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
    @apply bg-white;
}
::-webkit-scrollbar {
    @apply w-1.5;
}
::-webkit-scrollbar-thumb {
    @apply bg-lightOrange;
}

@layer base {

    header,
    section {
        @apply border-solid border-b-white border-b-2;
    }

    section:nth-child(1) {
        background-image: url("./img/tofu-bg.jpeg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}